<!DOCTYPE html>
<html>

<body>

    <div class="container" ng-controller="RegisterController">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a ui-sref="app">Home</a></li>
                   <li id="registerBreadcrumb" class="active">Cadastrar</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3 id="registerTitle">Cadastre a sua organização</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
           <form class="form-horizontal" name="organizationForm" ng-submit="registerOrganization()" novalidate>
               <div class="form-group"  ng-class="{ 'has-error' : organizationForm.email.$invalid && !organizationForm.email.$pristine }">
                   <label for="email" class="col-sm-4 control-label">E-mail</label>
                   <div class="col-sm-8">
                       <input type="email" class="form-control" id="email" name="email" placeholder="E-mail da sua organização"
                       ng-model="organization.email" required>
                       <span ng-show="(organizationForm.email.$invalid ||
                                   organizationForm.email.$error.required) &&
                                   !organizationForm.email.$pristine"
                        class="help-block">Insira um e-mail válido</span>
                   </div>
               </div>
               <div class="form-group" ng-class="{ 'has-error' : organizationForm.password.$error.required && !organizationForm.password.$pristine }">
                   <label for="password" class="col-sm-4 control-label">Senha</label>
                   <div class="col-sm-8">
                       <input type="password" class="form-control" id="password" name="password" placeholder="Sua senha de acesso"
                       ng-model="organization.password" required>
                       <span ng-show="organizationForm.password.$error.required && !organizationForm.password.$pristine" class="help-block">Insira a senha da sua organização</span>
                   </div>
               </div>
               <div class="form-group" 
               		ng-class="{ 
               			'has-error' : 
               				(organizationForm.passwordConfirmation.$error.required && !organizationForm.passwordConfirmation.$pristine) ||
               				(organization.password !== organization.passwordConfirmation) }">
                   <label for="passwordConfirmation" class="col-sm-4 control-label">Confirmação da senha</label>
                   <div class="col-sm-8">
                       <input type="password" class="form-control" id="passwordConfirmation" name="passwordConfirmation" placeholder="Confirme sua senha de acesso" 
                       ng-model="organization.passwordConfirmation" required>
                       <span ng-show="organizationForm.passwordConfirmation.$error.required && !organizationForm.passwordConfirmation.$pristine" class="help-block">Insira a confirmação da sua senha</span>
                       <span ng-show="organization.password !== organization.passwordConfirmation" class="help-block">A confirmação deve ser igual a senha</span>
                   </div>
               </div>
               <div class="form-group" ng-class="{ 'has-error' : organizationForm.name.$error.required && !organizationForm.name.$pristine }">
                   <label for="name" class="col-sm-4 control-label">Nome</label>
                   <div class="col-sm-8">
                       <input type="text" class="form-control" id="name" name="name" placeholder="Nome da sua organização"
                       ng-model="organization.name" required>
                       <span ng-show="organizationForm.name.$error.required && !organizationForm.name.$pristine" class="help-block">Insira o nome da sua organização</span>
                   </div>
               </div>
               <div class="form-group" ng-class="{ 'has-error' : organizationForm.acronym.$error.required && !organizationForm.acronym.$pristine }">
                   <label for="acronym" class="col-sm-4 control-label">Sigla</label>
                   <div class="col-sm-8">
                       <input type="text" class="form-control" id="acronym" name="acronym" placeholder="Sigla da sua organização"
                       ng-model="organization.acronym" required>
                       <span ng-show="organizationForm.acronym.$error.required && !organizationForm.acronym.$pristine" class="help-block">Insira a sigla da sua organização</span>
                   </div>
               </div>
               <div class="form-group">
                   <label for="image" class="col-sm-4 control-label">Imagem</label>
                   <div class="col-sm-1" id="fileChooserDiv">
                       <input type="file" id="fileInput">
					   <input class="btn btn-primary" type="button" id="fileChooserButton" value="Selecionar" />
                   </div>
                   <span class="col-sm-3" id="fileChooserText">Nenhum arquivo selecionado</span>
                   <div class="col-sm-4" id="imageDiv">
                   </div>
               </div>
               <div class="form-group">
                   <label for="religion" class="col-sm-4 control-label">Religião</label>
                   <div class="col-sm-8">
	                   <select class="form-control" id="religion"
	                      ng-model="organization.religion"
	                      ng-options="religion.value as religion.label for religion in religions">
	                   </select>
                   </div>
               </div>
               <div class="form-group" ng-class="{ 'has-error' : organizationForm.description.$error.required && !organizationForm.description.$pristine }">
                   <label for="description" class="col-sm-4 control-label">Descrição</label>
                   <div class="col-sm-8">
                       <input type="text" class="form-control" id="description" name="description" placeholder="Descrição da sua organização"
                       ng-model="organization.description" required>
                       <span ng-show="organizationForm.description.$error.required && !organizationForm.description.$pristine" class="help-block">Insira uma descrição para a sua organização</span>
                   </div>
               </div>
               <div class="form-group" ng-class="{ 'has-error' : organizationForm.address.$error.required && !organizationForm.address.$pristine }">
                   <label for="address" class="col-sm-4 control-label">Endereço</label>
                   <div class="col-sm-8">
                       <input type="text" class="form-control" id="address" name="address" placeholder="Endereço da sua organização"
                       ng-model="organization.address" required>
                       <span ng-show="organizationForm.address.$error.required && !organizationForm.address.$pristine" class="help-block">Insira o endereço da sua organização</span>
                   </div>
               </div>
               <div class="form-group" ng-class="{ 'has-error' : organizationForm.phone.$error.required && !organizationForm.phone.$pristine }">
                   <label for="phone" class="col-sm-4 control-label">Telefone</label>
                   <div class="col-sm-8">
                       <input type="text" class="form-control" id="phone" name="phone" placeholder="Telefone da sua organização"
                       ng-model="organization.phone" required>
                       <span ng-show="organizationForm.phone.$error.required && !organizationForm.phone.$pristine" class="help-block">Insira o telefone da sua organização</span>
                   </div>
               </div>
               <div class="form-group">
                   <div class="col-sm-offset-4 col-sm-8">
                       <button type="submit" class="btn btn-primary" id="registerSubmitButton" ng-disabled="organizationForm.$invalid">Cadastrar</button>
                   </div>
               </div>
           </form>
       </div>
    </div>

</body>
    
</html>